{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div class="reset-container">
  <h2>Crear nueva contraseña</h2>
  <form method="post">
    {% csrf_token %}
    <label for="password1">Nueva contraseña:</label>
    <input type="password" id="password1" name="password1" required>
    
    <label for="password2">Confirmar contraseña:</label>
    <input type="password" id="password2" name="password2" required>
    
    <button type="submit">Guardar contraseña</button>
  </form>
</div>
{% endblock %}



{% comment %} 
{% extends "base.html" %}
{% block content %}
<h2>Crear nueva contraseña</h2>
<form method="post">
  {% csrf_token %}
  <p><label>Nueva contraseña:</label><input type="password" name="password1" required></p>
  <p><label>Confirmar contraseña:</label><input type="password" name="password2" required></p>
  <button type="submit">Guardar contraseña</button>
</form>
{% endblock %} {% endcomment %}
